<!doctype html>


<html style="
    background: url({{background}}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"
>
<head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">

</head>
<body>
<nav class="demo">
  <a href="#" class="brand">
    <span>YourHomepage</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">
<div><img class="profile" src="{{profile_pic}}" alt="Google profile pic"></div></label>

  <div class="menu">
<div><img class="profile" src="{{profile_pic}}" alt="Google profile pic"></div>

  </div>

</nav>

<div class="flex three demo">
    {% for bookmark in bookmarks -%}
      <div><span>{{bookmark.name}}</span></div>
    {% endfor -%}
</div>
<a class="mdc-button foo-button" href="/logout">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">Logout</span>
</a>



</body>
</html>